.item {
  padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #c0c0c0;
    &:last-child {
      border-bottom: none;
    }
  .icon {
    width: 80px;
  }
  .city {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    p {
      font-size: 32px;
      line-height: 100%;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .text {
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
  }
  .digits {
    width: 40px;
  }
}