
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid transparent;
  &:hover {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    }
  }
  .city {
    padding-left: 10px;
    flex: 1;
  }
  .delete {
    background: transparent;
    border: none;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
      color: #c9bdbd;
      transition: color 1.5s;
      &:hover {
        color: #d62222;
      }
    }
  }
