.close {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 0 15px auto;
    svg {
      width: 30px;
      height: 30px;
      color: #c9bdbd;
      transition: color 1.5s;
      &:hover {
        color: #000;
      }
    }
  }
  .input {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      border: none;
      border-bottom: 1px solid #c0c0c0;
      outline: none;
    }
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      svg {
        width: 40px;
        height: 40px;
        color: #c9bdbd;
        transition: color 1.5s;
        &:hover {
          color: #50a310;
        }
      }
    }
  }


